$base-color: #168709;
$base-color-07: rgba($base-color, 0.7);
$gray: #6A696B;
$gray2: #BBBBCC;
$light: #68C35F;
$red: #6C0409;
$mobile: 790px;
$mobile_sm: 574px;
$tablet: 990px;
$notebook: 1199px;

@media (max-width: $tablet){

}