.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 2.2rem;
}

.portfolio__col {
  flex-basis: 33.33333%;
  padding: 1rem;

  @media (max-width: $mobile){
    flex-basis: 50%;
  }

  @media (max-width: $mobile_sm){
    flex-basis: 100%;
  }

}